# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.objenc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch

# Visual Studio
.vscode/
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.tlog
*.lastbuildstate
*.log
*.pdb
*.exp
*.ilk
*.vsidx

# Debug and Release directories
[Dd]ebug/
[Rr]elease/
x64/
bin/
obj/

# Build directories
_build/
build/